@media (max-width: 576px) { 
    .row{
        flex-direction: column;
        gap: 30px;
    }
    .main-text{
        padding: 80px 0px 50px;
    }
    h2+p{
        padding: 10px 0px ;
        margin: 0;
    }
    .col-33{
        width: 100%;
    }
    .dot-1{
        top: -50px;
        left: 80px;
    }
    .zig-1{
        top: 280px;
        left: 40px;
    }
 }